document.write("<style type='text/css'><!-- ");
document.write("a.tk1309413163:link { color:#3333EE; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk1309413163:hover { color:#7777FF; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk1309413163:visited { color:#2222AA; text-decoration:none; font-family:sans-serif; } ");
document.write("--></style>");
document.write("<table border='' width='100%' bgcolor='#CCFFFF'><tr><td>");
document.write("<span style='line-height:4px;'>&nbsp;<br></span>");document.write("<font size=2><a class='tk1309413163' href='http://www.zeusnews.it/news.php?cod=3308'");document.write(" title='Virus, phishing e cavalli di troia: le truffe vanno on-line.'");document.write(">Computer zombie</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1309413163' href='http://www.zeusnews.it/news.php?cod=3299'");document.write(" title='Alcuni messaggi inseriti su forum e newsgroup invitano i navigatori a visualizzare &quot;le foto del s...'");document.write(">Il falso suicidio di Bin Laden</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1309413163' href='http://www.zeusnews.it/news.php?cod=3260'");document.write(" title='Scoperto luned&#236; scorso, Atak &#232; il primo mass-mailing worm &quot;intelligente&quot;, in grado di n...'");document.write(">Atak, il nuovo worm intelligente</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1309413163' href='http://www.zeusnews.it/news.php?cod=3247'");document.write(" title='Dopo la diffusione di Scob (o Download.Ject), &#232; stata scoperta l&#39;ennesima falla in Inter...'");document.write(">In arrivo un nuovo Download.Ject per Explorer</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1309413163' href='http://www.zeusnews.it/news.php?cod=3229'");document.write(" title='Se usate Internet Explorer state in agguato: potrebbe installarsi Download.Ject, virus che si dif...'");document.write(">Il virus che colpisce i siti web</a></font><br>");
document.write("</td></tr></table>");
