document.write("<style type='text/css'><!-- ");
document.write("a.tk1518550672:link { color:#3333EE; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk1518550672:hover { color:#7777FF; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk1518550672:visited { color:#2222AA; text-decoration:none; font-family:sans-serif; } ");
document.write("--></style>");
document.write("<table border='' width='100%' bgcolor='#CCFFFF'><tr><td>");
document.write("<span style='line-height:4px;'>&nbsp;<br></span>");document.write("<font size=2><a class='tk1518550672' href='http://www.zeusnews.it/news.php?cod=3317'");document.write(" title='Wind-Infostrada lancia il suo videotelefono fisso: a differenza di quello Telecom Italia le video...'");document.write(">Il videotelefono Wind meno caro di quello Telecom</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1518550672' href='http://www.zeusnews.it/news.php?cod=3289'");document.write(" title='La Fondazione Don Gnocchi sta sperimentando una maglietta che misura il battito cardiaco e il res...'");document.write(">La t-Shirt che fa la telediagnosi</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1518550672' href='http://www.zeusnews.it/news.php?cod=3293'");document.write(" title='La pi&#249; diffusa carta di credito italiana, lancia CartaSi Eura: ricaricabile per acquisti sul...'");document.write(">Anche CartaSi emette la sua carta ricaricabile</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1518550672' href='http://www.zeusnews.it/news.php?cod=3292'");document.write(" title='NGI lancia in Italia il proprio servizio di telefonia via Internet.'");document.write(">Arriva Squillo, il telefono italiano VoiP</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk1518550672' href='http://www.zeusnews.it/news.php?cod=3270'");document.write(" title='Questar e Lindows lanciano un software gratuito per telefonare dal Pc.'");document.write(">PhoneGaim, per telefonare gratis con Linux</a></font><br>");
document.write("</td></tr></table>");
