body {
	text-align: center;
	color: black;
	font-family: Verdana, Arial, Helvetica, courier, sans-serif ;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: red;
	text-decoration: underline;
}

a {
	text-decoration: none;
}

.titre {
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.titre a {
	color: white;
}

.titre a:hover {
	color: red;
	text-decoration: underline;
}

#surtitre {
	font-size: 12px;
	font-weight: bold;
	color: white;
}

#surtitre a {
	color: white;
}

#surtitre a:hover {
	color: red;
	text-decoration: underline;
}

#surtitre a:visited {
	color: white;
}

#table_haute {
	font-size: 14px;
	font-weight: bold;
}

#table_principale {
	font-size: 10px;
}

#pied {
	font-size: 12px;
	font-weight: bold;
}

#table_depeches_court {
	font-size: 10px;
}

#basse {
	font-size: 12px;
	font-weight: bold;
	color: white;
}

#basse a {
	color: white;
}

#basse a:hover {
	color: red;
	text-decoration: underline;
}

#basse a:visited {
	color: white;
}